:root{
    --primary: #F06292;
    --secondary: #F7E7C3;
    --bg: #1A1A1B;
    --accent: #2d2d2e;
    --text: #f5f5f5;
}
.topnav {
  background-color: var(--bg);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:var(--bg);
  color: var(--secondary);
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}
